<% if user_signed_in? %>

  <h1>Friends</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Phone number</th>
        <th>Address</th>
        <th> </th>
      </tr>
    </thead>
    <br/>
    <tbody>
      <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.title %></td>
          <td><%= link_to friend.first_name + ' ' + friend.last_name, friend %></td>
          <td><%= friend.dob %></td>
          <td><%= friend.phone_number %></td>
          <td><%= friend.address %></td>>
          <td></td>

          <% if friend.user == current_user %>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-sm" %></td>
        </tr>
        <% end %>
      </tbody>
  <% end %>

  <% else %>

  <% end %>

  <%= link_to "Add Friend",  new_friend_path, class: "btn btn-secondary"  %>