
  <h1> <%= @friend.title %> <%= @friend.first_name %> <%= @friend.last_name %> </h1>
  <br/>
  <p class="lead"> <%= @friend.dob %> | <%= @friend.phone_number %> | <%= @friend.address %> </p>
  <br/>
  <%= link_to 'Edit', edit_friend_path(@friend), class: "btn btn-secondary" %> 
  <%= link_to 'Back', friends_path, class: "btn btn-secondary" %>

